body{
    background-image: url(triangle-mosaic.png);
}

.container{
    background-color: url(triangle-mosaic.png);
    /* position: fixed; */
    height: 100vh;
}

.container header{
    margin-bottom: 5px;
}

.block#block4{
    border: 2px solid; 
    border-color:  rgb(180, 180, 180);
    border-radius: 10px; 
    text-align: center; 
    margin-top: 40px;
    word-break: break-all;
    margin: 2%;
}

.feature col{
    border: 2px solid; 
    border-color:  rgb(180, 180, 180);
    border-radius: 5px; 
    margin: 2%;
    width: 850px;
}

.d-flex{
    width: 200px; 
    margin-top: 5px; 
    margin-bottom: 5px; 
    border: 2px solid; 
    border-radius: 5px; 
    border-color:  rgb(180, 180, 180);
}

.input-text{
    height: 100px; 
    width: 500px; 
    border-radius: 5px; 
    border: 2px solid; 
    border-color:  rgb(180, 180, 180);
}

.buttons-finder{
    width: 100%; 
}

.input-text{
    width: 100%;
}

#button-finder{
    color:black;     
    background-color:rgb(180, 180, 180);
    border: 0px solid; 
    /* margin: 5px;  */
    width: 100%; 
    position: relative;
    
    top: 50%;
}

.row#row-bottom{
    margin-top: 120px; 
    border: solid; 
    border-color: rgb(180, 180, 180);
    border-radius: 5px; 
    margin: 5px; 
    bottom: 0px;

    position: relative;
    top: 45vh;
    /* width: 100%; */
}


.block#block-bottom{
    text-align: center; 
    font-size: 20px;
    color:black; 
    background-color:rgb(180, 180, 180);


    vertical-align: bottom;
}

#button-1{        
    width: 10%;
}

#button-dots{        
    width: 80%;
}

#button-last{        
    width: 10%;
}

.btn-group{
    margin-top: 100px; 
    margin-bottom: 5px; 
    margin-left: 0px;
    width: 100%;
}